@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>


<h1>Hiện tại trang này chưa được phát triển hoặc đã có chức năng thay thế - Nguyễn Xuân Dương</h1>
