@model FashionShop.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Manage your external logins";
}

<h2>@ViewBag.Title.</h2>
<h1>Hiện tại trang này chưa được phát triển hoặc đã có chức năng thay thế - Nguyễn Xuân Dương</h1>
